*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --white-color:white;
    --black-color:black;
    --text-color:#333;
    --primary-color:#ee4d2d;
    --border-color:#dbdbdb;

    --navbar-height: 24px;
    --header-height: 60px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height))
}