.codepen-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9dcd6;
    height: 100vh;
}

.book {
    height: 15rem;
    /* width: 25rem; */
    font-size: 1.4rem;
    text-align: center;
    position: relative;
    color: #484e4a;
}

.page {
    width: 100%;
    height: 15rem;
    perspective: 1500px;
}

.page__1 {
    border-radius: 42px;
    background: linear-gradient(315deg, #131732, #161b3b);
    box-shadow:  -9px -9px 18px #11121a,
    9px 9px 18px #434868;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 1s 0.3s;
    transform-origin: 0 50%;
    z-index: 2;
}

.page__1::after {
    color: #fff;
    position: absolute;
    padding-top: 1.5rem;
    top: 0;
    left: 0;
    background: linear-gradient(315deg, #131732, #161b3b);
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transform: rotateY(180deg);
    transition: all 0.3s 0.5s;
}

.page__2 {
    border-radius: 46px;
    padding: 20px;
    background: linear-gradient(315deg, #26293b, #2d3046);
    box-shadow:  -9px -9px 18px #11121a,
    9px 9px 18px #434868;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.page:hover .page__1 {
    transform: rotateX(260deg);
    opacity: 0;
    box-shadow: 1.5rem 2rem 3rem rgba(0, 0, 0, 0.25);
}

.isShow_card .page__1{
    transform: rotateX(260deg);
    opacity: 0;
    box-shadow: 1.5rem 2rem 3rem rgba(0, 0, 0, 0.25);
}

.page:hover .page__1::after {
    opacity: 0;
}