/* Mobile */

@media (max-width:740px) {


    .isShow-btn {
        width: 260px !important;
    }

    .header__navbar {
        display: none;
    }

    .content--card-sub {
        display: block;
    }

    .content__introduce {
        margin-bottom: 50px !important;
    }

    .col-3 {
        width: 100%;
    }

    .container-card {
        margin-top: 20px;
    }

    .content__introduce {
        margin-bottom: 20px;
    }

    .contend__img {
        margin-bottom: 20px;
    }

    .menu__mobile {
        visibility: visible;
    }

    .content--card {
        height: 800px;
        margin-bottom: 100px;
    }

    .item-skill-scroll {
        /* display: none; */
    }

    .contend__img {
        display: none;
    }

}


/* Tablet */

@media (min-width: 740px) and (max-width:1023px) {
    .main__content {
        top: 200px;
    }


    .header__navbar {
        display: none;
    }

    .content--card-sub {
        display: block;
    }

    .col-3 {
        width: 100%;
    }

    .container-card {
        margin-top: 20px;
    }

    .content__introduce {
        margin-bottom: 20px;
    }

    .contend__img {
        margin-bottom: 20px;
    }

    .menu__mobile {
        visibility: visible;
    }

    .content--card {
        height: 800px;
        margin-bottom: 100px;
    }

    .item-skill-scroll {
        display: none;
    }

}

/* pc */

@media (min-width:1024px) {}